<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coretree.defaultconfig.bbs.mapper.BbsMapper">

    <resultMap id="resultMap" type="com.coretree.defaultconfig.bbs.model.BbsMgt">
        <result property="bbsSeq"		column="bbs_seq" />
        <result property="bbsSbj"		column="bbs_sbj" />
        <result property="regEmpNo"		column="reg_emp_no" />
        <result property="regEmpNm"		column="reg_emp_nm" />
        <result property="regDate"		column="reg_date" />
        <result property="regHms"		column="reg_hms" />
		<result property="bbsNote"		column="bbs_note" />
		<result property="startDate"		column="startDate" />
		<result property="endDate"		column="endDate" />		
		<result property="search"		column="search" />
		<result property="searchText"		column="searchText" />	
		<result property="fileYN"		column="fileYN" />
		<result property="commentYN"		column="commentYN" />	
		<result property="newYN"		column="newYN" />	
		
		<result property="fileBbsSeq"		column="bbs_seq" />
        <result property="fileSeq"	column="file_seq" />
        <result property="fileName"		column="file_name" />	
        <result property="readEmpNo"		column="read_emp_no" />		
    </resultMap>
	
	<resultMap id="result" type="com.coretree.defaultconfig.bbs.model.BbsComment">
        <result property="bbsSeq"		column="bbs_seq" />
        <result property="commentSeq"	column="comment_seq" />
        <result property="regDate"		column="reg_date" />
        <result property="regHms"		column="reg_hms" />
        <result property="regEmpNo"		column="reg_emp_no" />
        <result property="regEmpNm"		column="reg_emp_nm" />
        <result property="commentNote"	column="comment_note" />			
    </resultMap>
    
    <select id="selectNoticeList" parameterType="com.coretree.defaultconfig.bbs.model.BbsMgt" resultMap="resultMap">
		SELECT 
			BBS_SEQ
			, BBS_SBJ
			, REG_EMP_NO
			, REG_EMP_NM
			, (SELECT p.RET_VALUE FROM GET_FORMAT_DATE(REG_DATE) p ) as REG_DATE
			, (SELECT p.RET_VALUE FROM GET_FORMAT_HMS(REG_HMS) p ) as REG_HMS
			, BBS_NOTE
			, (SELECT p.V_OUT_VALUE	FROM GET_TBBS_FILE_EXIST_YN(BBS_SEQ) p) as fileYN 
			, (SELECT p.V_OUT_VALUE	FROM GET_TBBS_COMMENT_EXIST_YN(BBS_SEQ) p) as commentYN
			, (SELECT p.V_OUT_VALUE FROM GET_TBBS_MGT_READ_YN(BBS_SEQ, #{regEmpNo}) p) as newYN
		FROM TBBS_MGT
		WHERE
			1=1
		<if test="startDate != ''">
			AND REG_DATE <![CDATA[>=]]> #{startDate}
			
		 </if>
	  	<if test="endDate != ''">
			AND REG_DATE <![CDATA[<=]]> #{endDate}
		 </if>
		<if test='search.equals("1")'>
			AND bbs_sbj like '%'||#{searchText}||'%'
		 </if>
		<if test='search.equals("2")'>
			AND bbs_note like '%'||#{searchText}||'%'
		 </if>
		 <if test='search.equals("3")'>
			AND reg_emp_nm like '%'||#{searchText}||'%'
		 </if>
    </select>
    
    <select id="selectFileName" parameterType="com.coretree.defaultconfig.bbs.model.BbsMgt" resultMap="resultMap">
    	SELECT 
    		BBS_SEQ
			, FILE_SEQ
			, FILE_NAME    		
    	FROM TBBS_FILE
    	WHERE 
    		BBS_SEQ = #{bbsSeq}
    </select>
    
    <delete id="deleteNotice" parameterType="com.coretree.defaultconfig.bbs.model.BbsMgt" >
    	delete from TBBS_MGT 
    	WHERE BBS_SEQ in
		<foreach collection="bbsSeqs" item="bbsSeq" open="(" separator="," close=")">
			 #{bbsSeq}
		</foreach>
    </delete>
    
    <insert id="insertNotice" parameterType="com.coretree.defaultconfig.bbs.model.BbsMgt" >
    	INSERT 
		INTO TBBS_MGT 
       	(BBS_SEQ, BBS_SBJ, REG_EMP_NO, REG_EMP_NM, REG_DATE, REG_HMS, BBS_NOTE)
       	VALUES 
       	( 
       	NEXT VALUE FOR SEQ_BBS
         ,#{bbsSbj}
         ,#{regEmpNo}
         ,#{regEmpNm}
         ,#{regDate} 
		 ,#{regHms}
		 ,#{bbsNote}
       	)   
    </insert>
    
    <insert id="insertNoticeFile" parameterType="com.coretree.defaultconfig.bbs.model.BbsMgt" >
		INSERT INTO TBBS_FILE
    	(BBS_SEQ, FILE_SEQ, FILE_NAME)
    	VALUES
    	(
    	(SELECT MAX(BBS_SEQ) FROM TBBS_MGT),
    	(SELECT MAX(BBS_SEQ) FROM TBBS_MGT),
    	#{fileName}
    	)
    </insert>
    
    <insert id="updateNotice" parameterType="com.coretree.defaultconfig.bbs.model.BbsMgt" >
	<!--  INSERT INTO TBBS_MGT_READ
		  (BBS_SEQ, READ_EMP_NO)
		  VALUES
		  (
		  #{bbsSeq},#{readEmpNo}
		  )   -->
		  
		  EXECUTE PROCEDURE SP_TBBS_MGT_READ_INSERT(#{bbsSeq},#{readEmpNo});
    </insert>
    
    <select id="selectCommentList" parameterType="com.coretree.defaultconfig.bbs.model.BbsComment" resultMap="result">
    SELECT 
		BBS_SEQ
		, COMMENT_SEQ
		, (SELECT p.RET_VALUE FROM GET_FORMAT_DATE(REG_DATE) p ) as REG_DATE
		, (SELECT p.RET_VALUE FROM GET_FORMAT_HMS(REG_HMS) p ) as REG_HMS
		, REG_EMP_NO
		, REG_EMP_NM
		, COMMENT_NOTE   
    FROM TBBS_COMMENT
    WHERE BBS_SEQ = #{bbsSeq}
    ORDER BY COMMENT_SEQ
    </select>
    
    <insert id="insertReply" parameterType="com.coretree.defaultconfig.bbs.model.BbsComment" >
    	INSERT INTO TBBS_COMMENT
    	(BBS_SEQ, COMMENT_SEQ, REG_DATE, REG_HMS, REG_EMP_NO, REG_EMP_NM, COMMENT_NOTE)
    	VALUES
    	(
    	#{bbsSeq},
    	(SELECT MAX(COMMENT_SEQ)+1 FROM TBBS_COMMENT WHERE BBS_SEQ = #{bbsSeq}),
    	#{regDate},#{regHms},#{regEmpNo},#{regEmpNm},#{commentNote}
    	)
    </insert>
    
    <update id="selectNoticeModify" parameterType="com.coretree.defaultconfig.bbs.model.BbsMgt" >
	UPDATE 
	  TBBS_MGT  
	SET 
	  BBS_SBJ = #{bbsSbj},
	  REG_EMP_NO = #{regEmpNo},
	  BBS_NOTE = #{bbsNote},
	  REG_EMP_NM = #{regEmpNm}
	WHERE 
		BBS_SEQ = #{bbsSeq}
    </update>
</mapper>