<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coretree.defaultconfig.main.mapper.CounselMapper">
	
    <resultMap id="resultMap" type="com.coretree.defaultconfig.main.model.Counsel">
        <result property="counSeq"		column="COUN_SEQ" />
        <result property="custNo"			column="CUST_NO" />
        <result property="custNm"	column="CUST_NM" />
        <result property="telNo"		column="TEL_NO" />
        <result property="callTypCd"		column="CALL_TYP_CD" />
        <result property="callTypCdNm"		column="CALL_TYP_CDNM" />
        <result property="counStartDate"		column="COUN_START_DATE" />
        <result property="counStartHms"		column="COUN_START_HMS" />
        <result property="counEndDate"		column="COUN_END_DATE" />
        <result property="counEndHms"		column="COUN_END_HMS" />
        <result property="counCd"		column="COUN_CD" />
        <result property="counCdNm"		column="COUN_CDNM" />
        <result property="empNo"		column="EMP_NO" />
        <result property="empNm"		column="EMP_NM" />
        <result property="counNote"		column="COUN_NOTE" />
        <result property="callId"		column="CALLID" />
    </resultMap>
	
    <select id="counselList" parameterType="com.coretree.defaultconfig.main.model.Counsel"  resultMap="resultMap">
    	SELECT
				  COUN_SEQ,
				  CUST_NO, 
				  CUST_NM, 
				  TEL_NO, 
				  CALL_TYP_CD, 
				  (SELECT * FROM GET_CODE_NAME('1006',CALL_TYP_CD) p) as CALL_TYP_CDNM ,
				  ( SELECT p.RET_VALUE FROM GET_FORMAT_DATE(COUN_START_DATE) p ) as COUN_START_DATE,
				  ( SELECT p.RET_VALUE FROM GET_FORMAT_HMS(COUN_START_HMS) p ) as COUN_START_HMS,
				  ( SELECT p.RET_VALUE FROM GET_FORMAT_DATE(COUN_END_DATE) p ) as COUN_END_DATE,
				  ( SELECT p.RET_VALUE FROM GET_FORMAT_HMS(COUN_END_HMS) p ) as COUN_END_HMS,
				  COUN_CD,
				  (SELECT * FROM GET_CODE_NAME('1009',COUN_CD) p) as COUN_CDNM	,
				  EMP_NO, 
				  EMP_NM, 
				  COUN_NOTE, 
				  CALLID
		FROM TCOUNSEL
		WHERE 1=1
		 <if test="counStartDate != ''">
    	<![CDATA[
		 	AND COUN_START_DATE  >= #{counStartDate}
		]]>
 		 </if>
		 <if test="counEndDate != ''">
    	<![CDATA[
		 	AND COUN_END_DATE  <= #{counEndDate}
		]]>
 		 </if>
		 <if test="callTypCd != ''">
		 	AND CALL_TYP_CD = #{callTypCd}
 		 </if>
		 <if test="empNo != '' ">
		 	AND EMP_NO = #{empNo}
 		 </if>
		 <if test="counCd != ''">
		 	AND COUN_CD = #{counCd}
 		 </if>
		 <if test="counNote != ''">
		 	AND COUN_NOTE like  '%'||#{counNote}||'%' 
 		 </if>		 
 		 <if test="counSeq != ''">
		 	AND COUN_SEQ = #{counSeq}
 		 </if>
 		 <if test="custNo != ''">
		 	AND CUST_NO = #{custNo}
 		 </if>
 		 ORDER BY COUN_START_DATE DESC, COUN_START_HMS DESC
    </select>
    
    <insert id="insertCounsel" parameterType="com.coretree.defaultconfig.main.model.Counsel">
   		INSERT INTO TCOUNSEL( COUN_SEQ,
   											CUST_NO,
   											CUST_NM, 
   											TEL_NO, 
   											CALL_TYP_CD, 
   											COUN_START_DATE,
   											COUN_START_HMS, 
   											COUN_END_DATE, 
   											COUN_END_HMS, 
   											COUN_CD, 
   											EMP_NO, 
   											EMP_NM, 
   											COUN_NOTE) 
						 	VALUES (	NEXT VALUE FOR SEQ_COUN,
						 					#{custNo},
						 					#{custNm},
						 					#{telNo},
						 					#{callTypCd},
						 					<!-- #{counStartDate},
						 					#{counStartHms},
						 					#{counEndDate},
						 					#{counEndHms}, -->
						 					(SELECT p.RET_VALUE FROM GET_CHAR_DATE(0) p),
						 					(SELECT p.RET_VALUE FROM GET_CHAR_HMS p),
						 					(SELECT p.RET_VALUE FROM GET_CHAR_DATE(0) p),
						 					(SELECT p.RET_VALUE FROM GET_CHAR_HMS p),
						 					#{counCd},
						 					#{empNo},
						 					#{empNm},
						 					#{counNote})
    </insert>
    
    <update id="updateCounsel" parameterType="com.coretree.defaultconfig.main.model.Counsel">
    	UPDATE TCOUNSEL
    	SET COUN_CD = #{counCd},
    		  COUN_NOTE = #{counNote}
        WHERE COUN_SEQ = #{counSeq}
    </update>
    
</mapper>