<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coretree.defaultconfig.main.mapper.CustomerMapper">
	
    <resultMap id="resultMap" type="com.coretree.defaultconfig.main.model.Customer">
        <result property="custCd"		column="CUST_CD" />
        <result property="custCdNm"			column="CUST_CDNM" />
        <result property="custNo"		column="CUST_NO" />
        <result property="custNm"		column="CUST_NM" />
        <result property="tel1No"		column="TEL1_NO" />
        <result property="tel2No"		column="TEL2_NO" />
        <result property="tel3No"		column="TEL3_NO" />
        <result property="faxNo"	column="FAX_NO" />
        <result property="addr"		column="ADDR" />
        <result property="emailId"		column="EMAILID" />
        <result property="custNote"		column="CUST_NOTE" />
    </resultMap>
	
    <select id="selectCustomerList" parameterType="com.coretree.defaultconfig.main.model.Customer"  resultMap="resultMap">
		SELECT FIRST 1 CUST_CD,
			      (SELECT * FROM GET_CODE_NAME('1008',CUST_CD) p) as CUST_CDNM,
			      CUST_NO,
			      CUST_NM,
			      TEL1_NO,
			      TEL2_NO,
			      TEL3_NO,
			      FAX_NO,
			      ADDR,
			      EMAILID,
			      CUST_NOTE
		 FROM TCUSTOMER
		 where 1=1
 		 <if test="telNo != ''">
		 	AND (TEL1_NO like  '%'||#{telNo}||'%' or TEL2_NO like '%'|| #{telNo}||'%' or TEL3_NO like '%'||#{telNo} ||'%')
 		 </if>
		 <if test="custNm != '' ">
		 	AND   CUST_NM like '%'||#{custNm}||'%'
		 </if>
		 <if test="custNo != '' ">
		 	AND CUST_NO = #{custNo}
		 </if>  
    </select>
    
    <select id="selectCustomerOne" parameterType="com.coretree.defaultconfig.main.model.Customer"  resultMap="resultMap">
		SELECT CUST_CD,
			      (SELECT * FROM GET_CODE_NAME('1008',CUST_CD) p) as CUST_CDNM,
			      CUST_NO,
			      CUST_NM,
			      TEL1_NO,
			      TEL2_NO,
			      TEL3_NO,
			      FAX_NO,
			      ADDR,
			      EMAILID,
			      CUST_NOTE
		 FROM TCUSTOMER
		 where CUST_NO = #{custNo}
    </select>
    
    <select id="selectCustomerCustNo" parameterType="com.coretree.defaultconfig.main.model.Customer" resultType="java.lang.String">
		SELECT CUST_NO AS custNo
		 FROM TCUSTOMER
	     WHERE	TEL1_NO = #{tel1No}
	     AND CUST_NM = #{custNm}
    </select>
    
     <update  id="updateCustomer" parameterType="com.coretree.defaultconfig.main.model.Customer">
    	UPDATE TCUSTOMER
    	SET ADDR = #{addr},
    		  TEL2_NO = #{tel2No},
    		  TEL3_NO = #{tel3No},
    		  EMAILID = #{emailId},
    		  CUST_NOTE = #{custNote}
        WHERE CUST_NO = #{custNo}
    </update>
    
    <select id="selectExistCnt1001" parameterType="com.coretree.defaultconfig.main.model.Customer" resultType="com.coretree.defaultconfig.main.model.Customer">
	     SELECT count(*) as existCnt
	     FROM TCUSTOMER
	     WHERE CUST_NO = '1001'
	     AND	TEL1_NO = #{tel1No}
	     AND CUST_NM = #{custNm}
    </select>
    
    <select id="selectExistCnt1002" parameterType="com.coretree.defaultconfig.main.model.Customer" resultType="com.coretree.defaultconfig.main.model.Customer">
	     SELECT count(*) as existCnt
	     FROM TCUSTOMER
	     WHERE CUST_NO = #{custNo}
	     AND CUST_CD = '1002'
    </select>
    
    <insert id="insertCustomer" parameterType="com.coretree.defaultconfig.main.model.Customer" >
	    INSERT INTO TCUSTOMER
		(CUST_CD, CUST_NO, CUST_NM, TEL1_NO, TEL2_NO, TEL3_NO, EMAILID, FAX_NO, ADDR, CUST_NOTE) 
		VALUES 
		(#{custCd}, NEXT VALUE FOR SEQ_CUST_NO, #{custNm}, #{tel1No}, #{tel2No}, #{tel3No}, #{emailId}, #{faxNo}, #{addr}, #{custNote})
	</insert>
    
    <insert id="insertCustomer2" parameterType="com.coretree.defaultconfig.main.model.Customer" >
	    INSERT INTO TCUSTOMER
		(CUST_CD, CUST_NO, CUST_NM, TEL1_NO, TEL2_NO, TEL3_NO, EMAILID, FAX_NO, ADDR, CUST_NOTE) 
		VALUES 
		(#{custCd},#{custNo}, #{custNm}, #{tel1No}, #{tel2No}, #{tel3No}, #{emailId}, #{faxNo}, #{addr}, #{custNote})
	</insert>
	
	<delete  id="deleteCustomer" parameterType="com.coretree.defaultconfig.main.model.Customer" >
		DELETE FROM TCUSTOMER
		WHERE CUST_NO in
		<foreach collection="custNos" item="custNo" open="(" separator="," close=")">
			 #{custNo}
		</foreach>
	</delete>
	
	<!-- 고객정보선택(POPUP) - 송은미 -->
    <select id="selectCustomer" parameterType="com.coretree.defaultconfig.main.model.Customer"  resultMap="resultMap">
		SELECT FIRST 2000 CUST_CD,
		      (SELECT * FROM GET_CODE_NAME('1008',CUST_CD) p) as CUST_CDNM,
		      CUST_NO,
		      CUST_NM,
		      TEL1_NO,
		      TEL2_NO,
		      TEL3_NO,
		      FAX_NO,
		      ADDR,
		      EMAILID,
		      CUST_NOTE
		 FROM TCUSTOMER
		 where 1=1
    </select>
</mapper>