<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coretree.defaultconfig.setting.mapper.SmsCategoryMapper">

    <resultMap id="resultMap" type="com.coretree.defaultconfig.setting.model.SmsCategory">
        <result property="cateCd"		column="CATE_CD" />
        <result property="cateNm"		column="CATE_NM" />
        <result property="cateComment"		column="CATE_COMMENT" />
    </resultMap>
	
    <select id="selectSmsList" resultMap="resultMap">
		SELECT 
		  CATE_CD,
		  CATE_NM,
		  CATE_COMMENT
		FROM 
		  TSMS_CATEGORY
    </select>
    
    <select id="selectSmsOne" parameterType="com.coretree.defaultconfig.setting.model.SmsCategory" resultMap="resultMap">
		SELECT 
		  CATE_CD,
		  CATE_NM,
		  CATE_COMMENT
		FROM 
		  TSMS_CATEGORY
		 WHERE CATE_CD = #{cateCd}
    </select>
    
    <insert id="insertSms">
    	INSERT INTO TSMS_CATEGORY(CATE_CD, CATE_NM, CATE_COMMENT) 
		VALUES (#{cateCd}, #{cateNm}, #{cateComment})
    </insert>
</mapper>